<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" lang="en" content="{{title}}">
  <link rel="icon" sizes="192x192" href="{{assets}}/img/favicons/android-chrome-192x192.png">

  <!-- for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{title}}">

  <meta name="theme-color" content="#FFFFFF">

  <!-- Metadata -->
  <meta name="description" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống, Hồ sơ sức khỏe toàn diện, Thuật toán tiên lượng bệnh, Kế hoạch chăm sóc sức khỏe được tối ưu cho riêng bạn" />
	<!-- Schema.org markup for Google+ -->
	<meta name="author" content="precisionmed.com.vn">
	<meta itemprop="name" content="Precision Med" />
	<meta itemprop="description" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống, Hồ sơ sức khỏe toàn diện, Thuật toán tiên lượng bệnh, Kế hoạch chăm sóc sức khỏe được tối ưu cho riêng bạn" />
	<meta itemprop="image" content="https://admin.precisionmed.com.vn/logo.png" />
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@publisher_handle" />
	<meta name="twitter:title" content="Precision Med" />
	<meta name="twitter:description" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống, Hồ sơ sức khỏe toàn diện, Thuật toán tiên lượng bệnh, Kế hoạch chăm sóc sức khỏe được tối ưu cho riêng bạn" />
	<meta name="twitter:creator" content="@author_handle" />
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="https://admin.precisionmed.com.vn/logo.png" />
	<!-- Open Graph data -->
	<meta property="og:title" content="Precision Med" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://precisionmed.com.vn" />
	<meta property="og:image" content="https://admin.precisionmed.com.vn/logo.png" />
	<meta property="og:description" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống, Hồ sơ sức khỏe toàn diện, Thuật toán tiên lượng bệnh, Kế hoạch chăm sóc sức khỏe được tối ưu cho riêng bạn" />
	<meta property="og:site_name" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống" />
	<meta property="article:published_time" content="2021-06-09 16:48:37" />
	<meta property="article:modified_time" content="2021-06-09 16:48:41" />
	<meta property="article:section" content="Sở hữu Sức Khỏe, Làm chủ Cuộc Sống" />
	<meta property="article:tag" content="Precision Med" />
	<meta property="fb:app_id" content="102715935645860" />

  <link rel="shortcut icon" href="{{assets}}/img/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{assets}}/img/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{assets}}/img/favicons/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{assets}}/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{assets}}/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{assets}}/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{assets}}/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{assets}}/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{assets}}/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{assets}}/img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{assets}}/img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="{{assets}}/img/favicons/apple-touch-icon-1024x1024.png">

  <link rel="stylesheet" href="{{assets}}/styles/main.css">
  <link rel="stylesheet" href="{{assets}}/fonts/font.css">
  <link href="{{assets}}/vendors/slick/slick.css" rel="stylesheet">
	<link href="{{assets}}/vendors/animate/animate.min.css" rel="stylesheet">
	<link href="{{assets}}/vendors/icons/style.css" rel="stylesheet">
	<link href="{{assets}}/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
